*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(245,243,239);
}
#nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 50px;
    padding-top: 29px;
    position: fixed;
}
#nav h3{
    font-size: 26px;
    font-weight: 500;
    border: 2px solid #000;
    padding: 10px 20px;
    border-radius: 100px;
    color: white;
    background-color: #000;
    margin-right: 6px;
    cursor: pointer;
}
#nav h2{
    font-size: 22px;
    font-weight: 550;
    border: 2px solid #000;
    padding: 14px 25px;
    border-radius: 100px;
    color: white;
    background-color: #000;
    cursor: pointer;
}

#about{
    width: 60%;
    height: 32%;
}
#about h2{
    font-size: 145px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 65px;
    letter-spacing: -7px;
    line-height: 140px;
}

#nav2{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav2 h4{
    font-size: 34px;
    font-weight: 600;
    padding-left: 65px;
    padding-bottom: 35px;
}

#nav2 h2{
    font-size: 39px;
    font-weight: 600;
    padding-right: 100px;
    padding-bottom: 40px;
    cursor: pointer;
}

#img{
    width: 100%;
    height: 91%;
    background-image: url(https://assets-global.website-files.com/64589fb989b2b33c593db89d/6458a6db645ec6a527000cfa_home-hero-p-2000.webp);
    background-position: center;
    background-size: cover;
}

#about2{
    width: 95%;
    height: 48%;
    background-color: rgb(245,243,239);
    display: flex;
    border-bottom: 2px solid #000;
    padding: 40px 40px;
    margin-left: 38px;
    margin-right: 38px;
}
#part1{
    height: 100%;
    width: 60%;
}
#part1 h3{
    font-size: 82px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: -2px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#part2{
    height: 100%;
    width: 33%;
}
#part2 h2{
    font-size: 35px;
    margin-top: 30px;
    padding-left: 70px;
    border-left: 2px solid #000;
}
#socials{
    padding-top: 240px;
    padding-left: 70px;
    border-left: 2px solid #000;
}
#socials i{
    font-size: 30px;
    border: 2px solid #000;
    border-radius: 50px;
    padding: 8px;
    color: white;
    background-color: #000;
    margin-left: 10px;
    cursor: pointer;
}
#work{
    width: 95%;
    height: 52%;
    margin: 50px 50px 50px 40px;
    border-bottom: 2px solid #000;
    display: flex;
}
#right{
    width: 38%;
    height: 85%;
    border-right: 2px solid #000;
}
#right h2{
    font-size: 30px;
    font-weight: 600;
    padding-left: 30px;
    padding-right: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#right i{
    font-size: 40px;
    font-weight: 400;
}

#left{
    height: 94%;
    width: 62%;
    margin-left: 60px;
}
#top-part{
    height: 50%;
    width: 100%;
    display: flex;
}

#r-part{
    height: 70%;
    width: 50%;
    margin-bottom: 50px;
    border-right: 2px solid #000;
}

#r-part h3{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#r-part p{
    font-size: 22px;
    opacity: 0.6;
}

#l-part{
    height: 70%;
    width: 50%;
    margin-bottom: 50px;
    padding-left: 35px;
}

#l-part h3{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#l-part p{
    font-size: 22px;
    opacity: 0.6;
}

#bottom-part{
    height: 50%;
    width: 100%;
    border-top: 2px solid #000;
    display: flex;
}

#right-part{
    height: 70%;
    width: 50%;
    margin-top: 50px;
    padding-top: 10px;
    border-right: 2px solid #000;
}

#right-part h3{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#right-part p{
    font-size: 22px;
    opacity: 0.6;
}

#left-part{
    height: 70%;
    width: 50%;
    margin-top: 50px;
    padding-top: 10px;
    padding-left: 30px;
}

#left-part h3{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#left-part p{
    font-size: 22px;
    opacity: 0.6;
}

#work2{
    width: 100%;
    height: 20%;
}

#work2 h1{
    font-size: 150px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#img2{
    width: 100%;
    height: 90%;
    margin-top: 40px;
    background-image: url(https://assets-global.website-files.com/64589fb989b2b3e8783db8c8/645cad0d8364135d4087b9c8_project-01-p-2000.webp);
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
#camera{
    width: 100%;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#cam-1 h1{
    font-size: 140px;
    font-weight: 650;
    font-family: sans-serif;
    padding-left: 75px;
    cursor: pointer;
}

#cam-2{
    padding-right: 115px;
}
#cam-2 h5{
    font-size: 24px;
    font-weight: 500;
    opacity: 0.6;
    padding-bottom: 50px;
}
#buttons button{
    color: white;
    background-color: #000;
    font-size: 17px;
    font-weight: 600;
    border-radius: 50px;
    padding: 5px 12px;
}

#img3{
    width: 100%;
    height: 90%;
    background-image: url(https://assets-global.website-files.com/64589fb989b2b3e8783db8c8/645cad129d3885d86c115c7f_project-02-p-2000.webp);
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

#noise{
    width: 100%;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nos-1 h1{
    font-size: 140px;
    font-weight: 650;
    font-family: sans-serif;
    padding-left: 75px;
    cursor: pointer;
}

#nos-2{
    padding-right: 115px;
}
#nos-2 h5{
    font-size: 24px;
    font-weight: 500;
    opacity: 0.6;
    padding-bottom: 50px;
}
#buttons button{
    color: white;
    background-color: #000;
    font-size: 17px;
    font-weight: 600;
    border-radius: 50px;
    padding: 5px 12px;
}

#img4{
    width: 100%;
    height: 90%;
    background-image: url(https://assets-global.website-files.com/64589fb989b2b3e8783db8c8/645cad1988b7ca338942d0b3_project-03-p-2000.webp);
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

#robot{
    width: 93%;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #000;
    margin-left: 72px;
    padding-right: 60px;
}
#rob-1 h1{
    font-size: 140px;
    font-weight: 650;
    font-family: sans-serif;
    cursor: pointer;
}
#rob-2 h5{
    font-size: 24px;
    font-weight: 500;
    opacity: 0.6;
    padding-bottom: 50px;
}
#buttons button{
    color: white;
    background-color: #000;
    font-size: 17px;
    font-weight: 600;
    border-radius: 50px;
    padding: 5px 12px;
}

#clients{
    width: 95%;
    height: 90%;
    margin-left: 72px;
    margin-top: 70px;
    display: flex;
}
#right-c{
    width: 35%;
    height: 92%;
    border-right: 2px solid #000;
}
#right-c h2{
    font-size: 35px;
    font-weight: 600;
    padding-right: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#right-c i{
    font-size: 40px;
    font-weight: 400;
}

#left-c{
    height: 94%;
    width: 65%;
    margin-left: 60px;
}
#top-c{
    height: 50%;
    width: 100%;
    display: flex;
}

#r-c{
    height: 85%;
    width: 50%;
    margin-bottom: 50px;
    border-right: 2px solid #000;
}

#r-c h3{
    font-size: 50px;
    line-height: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#r-c p{
    font-size: 22px;
    padding-top: 15px;
    opacity: 0.6;
}
#pfp-1{
    height: 90px;
    width: 250px;
    display: flex;
    align-items: center;
}
#pfp1{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background-image: url(https://assets-global.website-files.com/64589fb989b2b33c593db89d/645df9b1ddb30689f693619c_author-testimonial-01.webp);
    background-position: center;
    background-size: cover;
}
#name1{
    padding-left: 20px;
    font-size: 24px;
}
#name1 h6{
    font-size: 20px;
    font-weight: 600;
    opacity: 0.6;
}
#l-c{
    height: 70%;
    width: 50%;
    margin-bottom: 50px;
    padding-left: 50px;
}

#l-c h3{
    font-size: 50px;
    line-height: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#l-c p{
    font-size: 22px;
    padding-top: 20px;
    opacity: 0.6;
}
#pfp-2{
    height: 90px;
    width: 250px;
    display: flex;
    align-items: center;
}
#pfp2{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background-image: url(https://assets-global.website-files.com/64589fb989b2b33c593db89d/645df9b75d697295b1a21b75_author-testimonial-02.webp);
    background-position: center;
    background-size: cover;
}
#name2{
    padding-left: 20px;
    font-size: 24px;
}
#name2 h6{
    font-size: 20px;
    font-weight: 600;
    opacity: 0.6;
}

#bottom-c{
    height: 50%;
    width: 100%;
    border-top: 2px solid #000;
    display: flex;
}

#bot-right-c{
    height: 85%;
    width: 50%;
    margin-top: 50px;
    padding-top: 10px;
    border-right: 2px solid #000;
}

#bot-right-c h3{
    font-size: 50px;
    line-height: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#bot-right-c p{
    font-size: 22px;
    padding-top: 20px;
    opacity: 0.6;
}
#pfp-3{
    height: 90px;
    width: 250px;
    display: flex;
    align-items: center;
}
#pfp3{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background-image: url(https://assets-global.website-files.com/64589fb989b2b33c593db89d/645df9b9d9ff6c360ce1b9af_author-testimonial-03.webp);
    background-position: center;
    background-size: cover;
}
#name3{
    padding-left: 20px;
    font-size: 24px;
}
#name3 h6{
    font-size: 20px;
    font-weight: 600;
    opacity: 0.6;
}

#bot-left-c{
    height: 85%;
    width: 50%;
    margin-top: 50px;
    padding-top: 10px;
    padding-left: 50px;
}

#bot-left-c h3{
    font-size: 50px;
    line-height: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#bot-left-c p{
    font-size: 22px;
    padding-top: 20px;
    opacity: 0.6;
}
#pfp-4{
    height: 90px;
    width: 250px;
    display: flex;
    align-items: center;
}
#pfp4{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background-image: url(https://assets-global.website-files.com/64589fb989b2b33c593db89d/645df9bb53c544e081ce78e2_author-testimonial-04.webp);
    background-position: center;
    background-size: cover;
}
#name4{
    padding-left: 20px;
    font-size: 24px;
}
#name4 h6{
    font-size: 20px;
    font-weight: 600;
    opacity: 0.6;
}
#last{
    width: 100%;
    height: 60%;
    margin-bottom: 200px;
    position: relative;
    background-color: rgb(20, 17, 17);
}
#last h3{
    font-size: 40px;
    font-weight: 500;
    position: absolute;
    top: 25%;
    left: 45%;
    transform: translate(-50% -50%,);
    color: white;
}
#last h2{
    font-size: 140px;
    font-family: sans-serif;
    font-weight: 600;
    position: absolute;
    top: 33%;
    left: 33%;
    transform: translate(-50% -50%,);
    color: white;
}
#last button{
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    color: #000;
    padding: 15px 30px;
    position: absolute;
    top: 65%;
    left: 45%;
    transform: translate(-50% -50%,);
    cursor: pointer;
}